<template>
  <v-dialog :value="true" width="500">
    <v-card>
      <v-card-title class="headline grey lighten-2">
        {{ dialog.package.name }}
      </v-card-title>

      <v-card-text>
        {{ dialog.package.description }}
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="close">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Dialog",
  computed: {
    ...mapState(["dialog"])
  },
  methods: {
    close() {
      this.$store.commit("SET_DIALOG", null);
    }
  }
};
</script>

<style scoped></style>
