<template>
  <v-data-table
    :headers="headers"
    :items="content"
    :items-per-page="10"
    class="elevation-1"
    @click:row="click"
  ></v-data-table>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SearchContent",
  data: () => ({
    headers: [
      {
        text: "Name",
        align: "start",
        value: "package.name"
      },
      { text: "Version", sortable: false, value: "package.version" },
      { text: "Link", sortable: false, value: "package.links.npm" }
    ]
  }),
  computed: {
    ...mapState(["content"])
  },
  methods: {
    click(e) {
      this.$store.commit("SET_DIALOG", e);
    }
  }
};
</script>

<style scoped></style>
