<template>
  <v-text-field
    v-model="searchInput"
    solo
    label="Enter your search..."
    clearable
    append-icon="mdi-magnify"
    @click:append="search"
    @keypress.enter="search"
  ></v-text-field>
</template>

<script>
export default {
  name: "Search",
  data: () => ({ searchInput: "vue" }),
  methods: {
    search() {
      this.$store.dispatch("search", { text: this.searchInput });
    }
  },
  created() {
    this.$store.dispatch("search", { text: "vue" });
  }
};
</script>

<style scoped></style>
