<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />
        <div :class="`text-h3`" v-text="'Nethernite'"></div>
      </div>

      <v-spacer></v-spacer>
      <v-progress-linear
        :active="loading"
        :indeterminate="loading"
        absolute
        bottom
        color="white"
      ></v-progress-linear>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-row justify="center">
          <v-col xs="11" sm="8" md="6">
            <Search />
          </v-col>
        </v-row>
        <v-row class="text-center" justify="center">
          <v-col sm="12" md="12">
            <SearchContent />
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <v-footer color="primary lighten-1" padless>
      <v-row justify="center" no-gutters>
        <v-btn
          v-for="link in links"
          :key="link.title"
          color="white"
          text
          rounded
          class="my-2"
          @click="openLink(link.link)"
        >
          {{ link.title }}
        </v-btn>
        <v-col class="primary py-4 text-center white--text" cols="12">
          {{ new Date().getFullYear() }} — <strong>Leghkii Paul</strong>
        </v-col>
      </v-row>
    </v-footer>
    <my-dialog v-if="dialog"></my-dialog>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
import Search from "@/components/Search";
import SearchContent from "@/components/SearchContent";
import MyDialog from "@/components/Dialog";

export default {
  name: "App",

  components: {
    Search,
    SearchContent,
    MyDialog
  },

  data: () => ({
    links: [
      { title: "GitLab", link: "https://gitlab.com/LePashtet" },
      {
        title: "LinkedIn",
        link: "https://www.linkedin.com/in/poul-legkiy-948b55168/"
      },
      {
        title: "API",
        link:
          "https://github.com/npm/registry/blob/master/docs/REGISTRY-API.md#endpoints"
      }
    ]
  }),
  computed: {
    ...mapState(["loading", "dialog"])
  },
  methods: {
    openLink(link) {
      window.location(link);
    }
  }
};
</script>
